header{
    height: 10%;
    width: 100%;
    background-color: royalblue;
    z-index: 2;
    top:0%;
    left:0;
    position:fixed;
}

body {
    top: 10%;
    left:0;
    width: 100%;
    z-index: 1;
    margin: 1% 0 0;
    position:absolute;
  
}


footer{
    height: 15%;
    width: 100%;  
}

.titulo{
    margin-top: 1%; 
    font-family: 'Sofia';
    font-size: 35px;
    text-align: center;
    color: aliceblue;
}

